<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <% for (animal of animals) { %>

        <article>
          <a href="/animals/<%= animal._id %>">
            <h2>
              <%= animal.species %>
            </h2></a>
            <p>
                Status: <%= animal.extinct ? "Extinct" : "Not Extinct" %>
              </p>
              <p>
                Location: <%= animal.location %>
                </p>
                <p>
                Life Expectancy: <%= animal.lifeExpectancy %>
                </p>
        </article>

        <% } %>
      </div>
    </main>
  </body>
</html>