<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body><div id="banner">
    <%- include("../partials/header.ejs") %>
    <main>
    <a href="/animals/new"><button>Create A New Animal</button></a>
    <a href="/animals/reset"><button>Reset Animals Database</button></a></div>
      <div>
        <% for (animal of animals) { %>

        <article id="index-article">
          <a href="/animals/<%= animal._id %>">
            <h2>
              <%= animal.species %>
            </h2></a>
            <p>
                Status: <%= animal.extinct ? "Extinct" : "Not Extinct" %>
              </p>
              <p>
                Location: <%= animal.location %>
                </p>
                <p>
                Life Expectancy (years): <%= animal.lifeExpectancy %>
                </p>
        </article>

        <% } %>
      </div>
    </main>
  </body>
</html>