<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body><div id="banner">
    <%- include("../partials/header.ejs") %>
    <main>
    </div>
      <div>
            <article id="show-article">
                  <h2>
                    <%= animal.species %>
                  </h2>
                  <p>
                    Status: <%= animal.extinct ? "Extinct" : "Not Extinct" %>
                  </p>
                  <p>
                    Location: <%= animal.location %>
                    </p>
                    <p>
                    Life Expectancy (years): <%= animal.lifeExpectancy %>
                    </p>
          </form>
          <a href="/animals/<%= animal._id %>/edit"><button class="buttons">Edit Animal</button></a>
          <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
          <input type="submit" class="buttons" value="Delete"/>
          </form>
          <a class="buttons" href="/animals/">
        <button>Back to Index</button>
    </a>
        </article>
      </div>
    </main>
  </body>
</html>